body{
    background-color: #F4FEC1;
    font-family: 'Tinos', serif;
}

.cv-overskrift {
    text-align: right;
    margin: 40px 60px 0 0;
    color: #DD6E42; /* tekstfarve */
    font-size: 80px;
    font-family: 'Sansita', sans-serif;
    position: relative;   /* gør at z-index virker */
    z-index: 2;           /* teksten skal være foran */

    text-shadow:
            -2px -2px 0 #F4FEC1,
            2px -2px 0 #F4FEC1,
            -2px  2px 0 #F4FEC1,
            2px  2px 0 #F4FEC1;
}

.profilbillede {
    width: 450px;          /* størrelse */
    height: 450px;         /* kvadratisk */
    object-fit: cover;     /* fylder hele cirklen */
    border-radius: 50%;    /* gør billedet rundt */
    display: block;
    margin: 0px auto 20px;     /* centrerer billedet */
    border: 4px solid #DD6E42; /* dekorativ kant */
}

h1 {
    color: #DD6E42;
    font-size: 40px;
    text-align: center;
    font-family: 'Sansita', sans-serif;
    position: relative;   /* gør at z-index virker */
    z-index: 2;           /* teksten skal være foran */

    text-shadow:
            -2px -2px 0 #F4FEC1,
            2px -2px 0 #F4FEC1,
            -2px  2px 0 #F4FEC1,
            2px  2px 0 #F4FEC1;
}


.navn {
    color: #DD6E42;
    font-size: 40px;
    text-align: center;
    font-family: 'Sansita', sans-serif;
}



.dot {
    height: 120px;
    width: 120px;
    background-color: #DD6E42;
    border-radius: 50%;
    position: absolute;
}
}

.circles { position: relative; }
.dot { position: absolute; }
.dot1 { top: 32px; right: 45px; }   /* eller: .dot1 { top: 35px; right: 45px; } */
.dot2 { top: 580px; left: 600px; }


